<div class="panel panel-primary"
     ng-controller="AzTableCtrl as vm">
    <div class="panel-heading"
         style="font-size:large">
        Student Details
    </div>

    <div class="panel-body">
        <table class="table">

            <thead>
                <tr>
                    <td>
                        Table Name
                        <select class="form-inline" name="repeatSelect" id="repeatSelect"
                                ng-model="itemSelected"
                                ng-change="vm.azTableListchanged(itemSelected)">
                            <option ng-repeat="option in vm.azTables"
                                    value="{{option.name}}">
                                {{option.name}}
                            </option>
                        </select>
                    </td>

                    <td>
                    Student Name
                    <select class="form-inline" name="repeatSelect" id="repeatSelect"
                            ng-model="studentSelected"
                            ng-change="vm.azStudentListchanged(studentSelected)">
                        <option ng-repeat="s in vm.StudentList"
                                value="{{s.id}}">
                            {{s.id}}
                        </option>
                    </select>
                    </td>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading"
             style="font-size:large">
            Transactions
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <td>Module Name</td>
                        <td>Date</td>
                        <td>Present</td>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in vm.Entries">
                        <td>{{ entry.ip }}</td>
                        <td>{{ entry.date | date:'yyyy-MM-dd HH:mm' }}</td>
                        <td>{{ entry.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

